.air-n {
  background-color: #a8a4a4;
}

.fire-n {
  background-color: #d10808;
}

.water-n {
  background-color: #291fac;
}

.earth-n {
  background-color: #256d1c;
}

.character-card-container {
  display: flex;
  margin: 1rem;
  border: 1px solid grey;
  max-width: 300px;
  border-radius: 4px;
}

.character-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 200;
}

.character-info-container {
  padding: 1rem;
}

.nation-icon-container {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  align-items: center;
  display: flex;
}
.nation-icon {
  height: 48px;
  width: 48px;
  font-size: 46px;
}

.character-details {
  color: grey;
  font-size: 1rem;
  padding-left: 1rem;
  display: block;
}

.selected-card {
  border: 2px solid rgb(255, 0, 242);
}
